<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h1 class="section-title mt-4 aos-init aos-animate" data-aos="fade-up">
      Chào mừng đến với trang chủ admin
    </h1>
  </div>
</div>
