<div class="container mt-5">
  <div class="alert alert-success">
    <h4>Thanh toán thành công!</h4>
    <p>Mã đơn hàng: {{order._id}}</p>
    <p>Số tiền: {{formatCurrency order.totalPrice}}</p>
    <p>Mã giao dịch: {{vnpParams.vnp_TransactionNo}}</p>
  </div>
  <a href="/" class="btn btn-primary">Về trang chủ</a>
</div>