<div class="container mt-5">
  <div class="alert alert-danger">
    <h4>Thanh toán thất bại</h4>
    <p>{{message}}</p>
    <p>Mã lỗi: {{errorCode}}</p>
  </div>
  <a href="/cart/giohang" class="btn btn-warning">Quay lại giỏ hàng</a>
</div>